In [9]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host = "localhost",
        database = "Electronics",
        user = "root",
        password = "dbms"
    )
    mySql_Create_Table_Query = """CREATE TABLE Laptop(
                                    Id int(11) NOT NULL,
                                    Name Varchar(250) NOT NULL,
                                    Price float NOT NULL,
                                    Purchase_date Date NOT NULL,
                                    PRIMARY KEY(Id))"""
    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("Laptop Table Created Successfully")
except Error as e:
    print("Failed to create table in MySQL: {}" .format(error))
finally:
    if(connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Laptop Table Created Successfully
MySQL connection is closed

In [3]:
import mysql.connector
db = mysql.connector.connect(
        host = "localhost",
        database = "bill",
        user = "root",
        password = "dbms"
)
# cursor = db.cursor()
print(db)
# cursor.execute("CREATE TABLE Person (Name VARCHAR(50), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT) ")
# cursor.execute("INSERT INTO Person (Name, age) VALUES(%s, %s)",("Joe", 22))
# db.commit()
# cursor.execute("SELECT * FROM Person")
# for x in cursor:
#     print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002BD492B5940>

In [8]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host = "localhost",
        user = getpass("Enter username: "),
        password = getpass("Enter password: "),#obscures the input
        # database = input("Enter database: ")
    ) as connection:
        # # print(connection)#To confirm the connection is up
        # create_db_query = "CREATE DATABASE online_movie_rating"
        # with connection.cursor() as cursor:
        #     cursor.execute(create_db_query)
        show_db_query = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(show_db_query)
            for db in cursor:
                print(db)
except Error as e:
    print(e)

('bill',)
('electronics',)
('information_schema',)
('mysql',)
('online_movie_rating',)
('performance_schema',)
('sakila',)
('sys',)
('testdatabase',)
('world',)