In [9]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host = "localhost",
        database = "Electronics",
        user = "root",
        password = "dbms"
    )
    mySql_Create_Table_Query = """CREATE TABLE Laptop(
                                    Id int(11) NOT NULL,
                                    Name Varchar(250) NOT NULL,
                                    Price float NOT NULL,
                                    Purchase_date Date NOT NULL,
                                    PRIMARY KEY(Id))"""
    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("Laptop Table Created Successfully")
except Error as e:
    print("Failed to create table in MySQL: {}" .format(error))
finally:
    if(connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Laptop Table Created Successfully
MySQL connection is closed

In [3]:
import mysql.connector
db = mysql.connector.connect(
        host = "localhost",
        database = "bill",
        user = "root",
        password = "dbms"
)
# cursor = db.cursor()
print(db)
# cursor.execute("CREATE TABLE Person (Name VARCHAR(50), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT) ")
# cursor.execute("INSERT INTO Person (Name, age) VALUES(%s, %s)",("Joe", 22))
# db.commit()
# cursor.execute("SELECT * FROM Person")
# for x in cursor:
#     print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002BD492B5940>

In [1]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    connection =  connect(
        host = "localhost",
        user = getpass("Enter username: "),
        password = getpass("Enter password: "),#obscures the input
        database = "online_movie_rating"
    )
    # # print(connection)#To confirm the connection is up
    # create_db_query = "CREATE DATABASE online_movie_rating"
    # with connection.cursor() as cursor:
    #     cursor.execute(create_db_query)
    # show_db_query = "SHOW DATABASES"
    # with connection.cursor() as cursor:
    #     cursor.execute(show_db_query)
    #     for db in cursor:
    #         print(db)
except Error as e:
    print(e)
create_movies_table_query = """
        CREATE TABLE IF NOT EXISTS movies(
            id INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(100),
            release_year YEAR(4),
            genre VARCHAR(100),
            collection_in_mil INT
        )
        """
create_reviewers_table_query = """
CREATE TABLE IF NOT EXISTS reviewers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100)
)
"""
create_ratings_table_query = """
CREATE TABLE IF NOT EXISTS ratings (
    movie_id INT,
    reviewer_id INT,
    rating DECIMAL(2,1),
    FOREIGN KEY(movie_id) REFERENCES movies(id),
    FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
    PRIMARY KEY(movie_id, reviewer_id)
)
"""
alter_table_query = """
ALTER TABLE MOVIES
MODIFY COLUMN collection_in_mil DECIMAL(4,1)
"""
drop_table_query = "DROP TABLE ratings"
insert_movies_query = """
INSERT INTO movies (title, release_year, genre, collection_in_mil)
VALUES
    ("Forrest Gump", 1994, "Drama", 330.2),
    ("3 Idiots", 2009, "Drama", 2.4),
    ("Eternal Sunshine of the Spotless Mind", 2004, "Drama", 34.5),
    ("Good Will Hunting", 1997, "Drama", 138.1),
    ("Skyfall", 2012, "Action", 304.6),
    ("Gladiator", 2000, "Action", 188.7),
    ("Black", 2005, "Drama", 3.0),
    ("Titanic", 1997, "Romance", 659.2),
    ("The Shawshank Redemption", 1994, "Drama",28.4),
    ("Udaan", 2010, "Drama", 1.5),
    ("Home Alone", 1990, "Comedy", 286.9),
    ("Casablanca", 1942, "Romance", 1.0),
    ("Avengers: Endgame", 2019, "Action", 858.8),
    ("Night of the Living Dead", 1968, "Horror", 2.5),
    ("The Godfather", 1972, "Crime", 135.6),
    ("Haider", 2014, "Action", 4.2),
    ("Inception", 2010, "Adventure", 293.7),
    ("Evil", 2003, "Horror", 1.3),
    ("Toy Story 4", 2019, "Animation", 434.9),
    ("Air Force One", 1997, "Drama", 138.1),
    ("The Dark Knight", 2008, "Action",535.4),
    ("Bhaag Milkha Bhaag", 2013, "Sport", 4.1),
    ("The Lion King", 1994, "Animation", 423.6),
    ("Pulp Fiction", 1994, "Crime", 108.8),
    ("Kai Po Che", 2013, "Sport", 6.0),
    ("Beasts of No Nation", 2015, "War", 1.4),
    ("Andadhun", 2018, "Thriller", 2.9),
    ("The Silence of the Lambs", 1991, "Crime", 68.2),
    ("Deadpool", 2016, "Action", 363.6),
    ("Drishyam", 2015, "Mystery", 3.0)
"""
insert_ratings_query = """
INSERT INTO ratings
(rating, movie_id, reviewer_id)
VALUES ( %s, %s, %s)
"""
ratings_records = [
    (6.4, 17, 5), (5.6, 19, 1), (6.3, 22, 14), (5.1, 21, 17),
    (5.0, 5, 5), (6.5, 21, 5), (8.5, 30, 13), (9.7, 6, 4),
    (8.5, 24, 12), (9.9, 14, 9), (8.7, 26, 14), (9.9, 6, 10),
    (5.1, 30, 6), (5.4, 18, 16), (6.2, 6, 20), (7.3, 21, 19),
    (8.1, 17, 18), (5.0, 7, 2), (9.8, 23, 3), (8.0, 22, 9),
    (8.5, 11, 13), (5.0, 5, 11), (5.7, 8, 2), (7.6, 25, 19),
    (5.2, 18, 15), (9.7, 13, 3), (5.8, 18, 8), (5.8, 30, 15),
    (8.4, 21, 18), (6.2, 23, 16), (7.0, 10, 18), (9.5, 30, 20),
    (8.9, 3, 19), (6.4, 12, 2), (7.8, 12, 22), (9.9, 15, 13),
    (7.5, 20, 17), (9.0, 25, 6), (8.5, 23, 2), (5.3, 30, 17),
    (6.4, 5, 10), (8.1, 5, 21), (5.7, 22, 1), (6.3, 28, 4),
    (9.8, 13, 1)
]
cursor = connection.cursor()
cursor.execute(create_movies_table_query)
cursor.execute(create_reviewers_table_query)
cursor.execute(create_ratings_table_query)
cursor.execute(alter_table_query)
cursor.execute(drop_table_query)
cursor.execute(insert_movies_query)
cursor.execute(insert_ratings_query)
connection.commit()

# show_table_query = "DESCRIBE ratings"
# cursor.execute(show_table_query)
# result = cursor.fetchall()
# for row in result:
#     print(row)

('movie_id', b'int', 'NO', 'PRI', None, '')
('reviewer_id', b'int', 'NO', 'PRI', None, '')
('rating', b'decimal(2,1)', 'YES', '', None, '')